.box-1 {
  width: 500px;
  height: 500px;
  background-color: darkslateblue;
  position: relative;
  top: 100px;
  left: 100px;
}

.box-2 {
  width: 150px;
  height: 150px;
  background-color: cadetblue;
  position: absolute;
  top: 25px;
  left: 25px;
}
