body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

h1 {
  color: antiquewhite;
  text-align: center;
}

.container {
  margin: 2% 1%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5%;
}

.card {
  /* width: 300px; */
  height: 400px;
  border-radius: 12px;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
}

.card-heading {
  width: 100%;
  height: 20%;
  display: flex;
}

.image-box {
  width: 22.5%;
  height: 80%;
  margin: 5% 0% 5% 5%;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 60%;
  object-fit: cover;
  border-radius: 50%;
}

.star-box {
  width: 77%;
  height: 78%;
  margin: 5%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-box img {
  width: 15%;
}

.card-description {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 90%;
  height: 90%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 90%;
}

.content p {
  padding: 8%;
  margin: 0;
}

.scrollable-review {
  max-height: 100%;
  overflow-y: auto;
}

.name-box {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}

.name-box p {
  padding-left: 64%;
  margin: 0;
}

/* 0 - 575 => 1 card */
@media screen and (max-width: 575px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 576 - 767 => 2 cards */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 768 - 991 => 3 cards */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 992 - 1199 => 4 cards */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 1200 - 1399 => 5 cards */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* 1400 onwards => 6 cards */
/* @media screen and (min-width: 1400px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
} */
